.bsd-theme-settings-wrap {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    margin:20px;
}

.bsd-settings-container {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.bsd-settings-sidebar {
    width: 200px;
    border-right: 1px solid #ddd;
}

.bsd-settings-sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.bsd-settings-sidebar li {
    margin: 0;
}

.bsd-settings-sidebar a {
    display: block;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
}

.bsd-settings-sidebar a.active,
.bsd-settings-sidebar a:hover {
    background: #0073aa;
    color: #fff;
}

.bsd-settings-content {
    flex: 1;
}

.bsd-version {
    font-size: 15px;
    color: #888;
    margin-left: 6px;
    font-weight: 400;
    background-color: #ffff;
    padding: 2px 5px 2px 2px;
    border-radius: 2px;
    border: 1px solid #888;
}